section.section.about
  .container.about__container
    h2.h2.about__title.fade-in ИМБА ИТ&nbsp;&mdash; российский <span>системный интегратор</span> полного цикла
    .about-info
      .about-info__text
        .red-line.about-info__lines.fade-in
        p.text.about-info__description.fade-in Внедряем комплексные IT-решения, автоматизируем процессы и&nbsp;повышаем их&nbsp;эффективность, интегрируем продвинутые IT‑технологии в&nbsp;сфере безопасности и&nbsp;мониторинга, поставляем &laquo;умное&raquo; сертифицированное оборудование и&nbsp;программные комплексы.
      ul.about-info__facts.fade-in
        li.about-fact
          .number.about-fact__number 700+
          //- <span data-num="700">0</span>+
          .text.about-fact__text Проектов ежегодно
        li.about-fact
          .number.about-fact__number 150+
          //- <span data-num="150">0</span>+
          .text.about-fact__text Заказчиков нам доверяют
        li.about-fact
          .number.about-fact__number 350+
          //- <span data-num="350">0</span>+
          .text.about-fact__text Полученных сертификаций вендоров у&nbsp;сотрудников тех.&nbsp;департамента
        li.about-fact
          .number.about-fact__number 40+
          //- <span data-num="40">0</span>+
          .text.about-fact__text Квалифицированных инженеров и&nbsp;архитекторов
        li.about-fact
          .number.about-fact__number 200 000+
          //- <span data-num="200 000">0</span>+
          .text.about-fact__text Пользователей защищено нашими решениями по&nbsp;ИБ
        li.about-fact
          .number.about-fact__number 15000+
          //- <span data-num="15 000">0</span>+
          .text.about-fact__text Единиц техники на&nbsp;ежемесячном обслуживании