

section.cover-main
  canvas.canvas
  .container.cover-main__container
    h1.h1.cover-main__title.fade-in Решаем любые <span>ИТ&nbsp;</span>задачи
    //- a(href="contacts.html?tab=1#map") ссылка
    //- a(href="/#about") ссылка
    //- a(href="/?tab=1#partners") ссылка
    