

section.cover-main
  //- canvas.canvas
  .video-box
      video.video-box__video(src="./../video/sphere.mp4" autoplay muted loop)
      .video-box__gradient
  .container.cover-main__container
    h1.h1.cover-main__title.fade-in Решаем любые <span>ИТ&nbsp;</span>задачи
    //- a(href="contacts.html?tab=1#map") ссылка
    //- a(href="/#about") ссылка
    //- a(href="/?tab=1#partners") ссылка
    