section.section.services
  .container.services__container
    ul.services__cards
      li.services-card.fade-in
        img.services-card__img(src="../../images/services-icon.svg", alt="")
        p.lead-text.services-card__title Информационная безопасность
        ul.services-card__list
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Обеспечение защиты в&nbsp;соответствии с&nbsp;требованиями регуляторов
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Построение систем защиты
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Внедрение отдельных классов решений
        a.button.button_style_arrow.services-card__btn(href="#")  читать подробнее
      li.services-card.fade-in
        img.services-card__img(src="../../images/services-icon-1.svg", alt="")
        p.lead-text.services-card__title Инженерная инфраструктура
        ul.services-card__list
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Системы энергоснабжения
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Системы технической безопасности
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Центры обработки данных
        a.button.button_style_arrow.services-card__btn(href="#")  читать подробнее        
      li.services-card.fade-in
        img.services-card__img(src="../../images/services-icon-2.svg", alt="")
        p.lead-text.services-card__title ИТ-инфраструктура
        ul.services-card__list
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Мониторинг оборудования и&nbsp;критичных систем
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Вычислительная ИТ‑инфраструктура
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Телекоммуникации
        //- a.button.button_style_arrow.services-card__btn(href="#")  читать подробнее
      li.services-card.fade-in
        img.services-card__img(src="../../images/services-icon-3.svg", alt="")
        p.lead-text.services-card__title Разработка ПО
        ul.services-card__list
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Android/iOS
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Сайты и&nbsp;web-порталы
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Бизнес-приложения
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Автоматизация бизнес-процессов
        //- a.button.button_style_arrow.services-card__btn(href="#")  читать подробнее
      li.services-card.fade-in
        img.services-card__img(src="../../images/services-icon-4.svg", alt="")
        p.lead-text.services-card__title Импортозамещение
        ul.services-card__list
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Разработка стратегии импортозамещения
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Оценка возможности интеграции российских решений 
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Реализация проекта по&nbsp;строительству инфраструктуры
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Поддержка и&nbsp;сопровождение импортонезависимых решений
        //- a.button.button_style_arrow.services-card__btn(href="#")  читать подробнее
      li.services-card.fade-in
        img.services-card__img(src="../../images/services-icon-5.svg", alt="")
        p.lead-text.services-card__title Сервис / поддержка
        ul.services-card__list
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Сопровождение и&nbsp;эксплуатация ИТ‑инфраструктуры
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Сервис инженерных систем 
          li.services-card__item
            .services-card__marker
            p.text.services-card__text Управление обращениями (Service desk)
          li.services-card__item
            .services-card__marker
            p.text.services-card__text ИТ-консультации
        //- a.button.button_style_arrow.services-card__btn(href="#")  читать подробнее