section.section.solutions
  .container.solutions__container
    .solutions__line.fade-in
    .solutions__content
      h3.h3.solutions__title Ознакомиться со&nbsp;всем <span>списком решений</span>, представленных в&nbsp;нашей лаборатории 
      button.button.button_style_outlined.solutions__btn(type="button") Посмотреть все решения
