section.section.tab-partners
  .container.tab-partners__container
    ul.tab-partners__list.fade-in
      li.tab-partners__item
        a.lead-title.tab-name.tab-partners__link(href="/") Наши заказчики
      li.tab-partners__item
        a.lead-title.tab-name.tab-partners__link(href="") Наши партнёры
    section.tab-partners__section
      include ../../parts/index-clients
    section.tab-partners__section
      include ../../parts/index-partners