section.section.tab-partners
  .container.tab-partners__container
    .tabs
      ul.tab-partners__list.fade-in
        li.tab-partners__item
          button.lead-title.tab-name.tab-partners__link(type='button') Наши заказчики
        li.tab-partners__item
          button.lead-title.tab-name.tab-partners__link(type='button') Наши партнёры
      section.tab-partners__section
        include ../../parts/index-clients
      section.tab-partners__section
        include ../../parts/index-partners