section.section.big-logo
  .container.big-logo__container
    .big-logo__line
    .big-logo__content-logo
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo1.svg", alt="")
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo2.svg", alt="")
        .text-s.big-logo__logo-text Авторизованный партнер
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo3.svg", alt="")
        .text-s.big-logo__logo-text Registered Partner
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo4.svg", alt="")
        .text-s.big-logo__logo-text Partner
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo5.svg", alt="")
        .text-s.big-logo__logo-text Bronze
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo6.svg", alt="")
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo7.svg", alt="")
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo8.svg", alt="")
        .text-s.big-logo__logo-text Бизнес-партнер
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo9.svg", alt="")
        .text-s.big-logo__logo-text Авторизованный партнер
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo10.svg", alt="")
        .text-s.big-logo__logo-text Авторизованный партнер
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo11.svg", alt="")
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo12.svg", alt="")
        .text-s.big-logo__logo-text Авторизованный партнер
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo13.svg", alt="")
        .text-s.big-logo__logo-text Авторизованный партнер
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo14.svg", alt="")
        .text-s.big-logo__logo-text Торговый партнер
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo15.svg", alt="")
        .text-s.big-logo__logo-text Реселлер
      a(href="#").big-logo__logo
        .big-logo__logo-img
          img(src="images/partners/logo16.svg", alt="")
        .text-s.big-logo__logo-text Авторизованный партнер
