section.section.licenses-partners
  .container.licenses-partners__container
    h2.h2.licenses-partners__title Лицензии
    .licenses-partners__content
      .licenses-partners__content-one
        .red-line.licenses-partners__lines
        .licenses-partners__logo-one
          img(src="images/partners/amcr.svg", alt="")
          h3.h3 Аккредитация Министерства цифрового развития РФ
      .licenses-partners__content-two
        .red-line.licenses-partners__lines
        .licenses-partners__logo-one
          img(src="images/partners/fsb.svg", alt="")
          h3.h3 ФСБ
      .licenses-partners__content-two
        .red-line.licenses-partners__lines
        .licenses-partners__logo-one
          img(src="images/partners/fstehk.svg", alt="")
          h3.h3 ФСТЭК