section.section.cta-contacts
  .container.cta-contacts__container
    .cta-contacts__column.cta-contacts__column-info
      h2.h2.cta-contacts__title.fade-in Свяжитесь с&nbsp;нами
      ul.cta-contacts__contacts.fade-in
        li.cta-contacts__contact
          p.h3.cta-contacts__contact-title Телефон
          a.h3.cta-contacts__contact-link(href="tel:+74959693977") +7 (495) 969 39 77
        li.cta-contacts__contact
          p.h3.cta-contacts__contact-title Почта
          a.h3.cta-contacts__contact-link(href="mailto:hello@imba-it.ru") hello@imba-it.ru
    .cta-contacts__column.cta-contacts__column-form
      p.lead-text.cta-contacts__form-title.fade-in Форма обратной связи
      include ../../parts/form