section.section.link-requisites
  a.link-requisites__btn(href="../../requisites.html") 
    .container.link-requisites__container
      .link-requisites__content
        .link-requisites__icon-box
          img.link-requisites__icon(src="../../images/icon.svg", alt="")
          img.link-requisites__icon_white(src="../../images/icon-white.svg", alt="")
        h2.h2.link-requisites__title Реквизиты компании
      .link-requisites__arrow-box
        img.link-requisites__arrow(src="../../images/Arrow-black.svg", alt="")
        img.link-requisites__arrow.link-requisites__arrow_white(src="../../images/Arrow-white.svg", alt="")