section.section.link-requisites
  a.link-requisites__btn(href="../../requisites.html") 
    .container.link-requisites__container
      .link-requisites__content
        img.link-requisites__icon(src="../../images/icon.svg", alt="")
        h2.h2.link-requisites__title Реквизиты компании
      img.link-requisites__arrow(src="../../images/Arrow-black.svg", alt="")