.licenses-partners {
  &__container {
    display: grid;
    grid-template-columns: 408px 1fr;
    column-gap: 32px;
  }

  &__lines {
    margin-top: 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 26px;
    row-gap: 80px;
    &-one {
      grid-column: 1 / 3;
    }
  }

  &__logo-one {
    display: flex;
    column-gap: 16px;
    margin-top: 32px;
  }
}