.header {
  // position: fixed;
  top: 0;
  left: 0;
  // z-index: 20;
  width: 1288px;
  background-color: #202020;
  margin: 0 auto;
  padding: 0 6px;

  &__inner {
      display: flex;
      align-items: center;
      height: 80px;
      @media (min-width: 769px) {
          height: 100px;
      }
  }

  &__logo {
      margin-right: 40px;
      img {
          max-width: 145px;
          @media (min-width: 769px) {
              max-width: none;
          }
          &:nth-child(2) {
              display: none;
          }
      }
      
  }

  &-menu {
      display: none;
      @media (min-width: 1240px) {
          display: block;
      }
      &__list {
          display: flex;
          align-items: center;
      }
      &__item {
          &:not(:last-child) {
              margin-right: 40px;
          }
          &:last-child {
              margin-left: 40px;
          }
      }
      &__link {
          @include mo;
          font-weight: 500;
          font-size: 14px;
          line-height: 160%;
          color: #ECECEC;
          text-transform: uppercase;
      }
  }

  &__control {
      display: flex;
      align-items: center;
      margin-left: auto;
  }

  &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 78px;
      height: 40px;
      svg {
          stroke:#ECECEC;
      }
  }

  &__toggle {
      display: none;
      margin-left: 32px;
      @media (min-width: 1240px) {
          display: block;
      }
  }
}