.header {
  // position: fixed;
  top: 0;
  left: 0;
  // // z-index: 20;
  // max-width: 1288px;
  background-color: $black-20;
  margin: 0 auto;
  padding: 0 6px;
  &__container {
    padding: 0 6px;
  }

  &__inner {
      display: flex;
      align-items: center;
      height: 100px;
      @include media-mb {
        height: 80px;
      }
  }

  &__logo {
      margin-right: 70px;
      img {
          max-width: 260px;
          @include media-mb {
              max-width: 145px;
          }
          &:nth-child(2) {
              display: none;
          }
      }
      
  }

  &-menu {
      display: block;
      &__list {
          display: flex;
          align-items: center;
          column-gap: 40px;
          @include media-tb {
            display: none;
          };
      }
      &__item {
        
      }
      &__link {
          @include mo;
          font-weight: 500;
          font-size: 14px;
          line-height: 160%;
          color: #ECECEC;
          text-transform: uppercase;
      }
      &__button {
        @include media-tb {
          display: none;
        }
      }
  }

  &__control {
      display: flex;
      align-items: center;
      margin-left: auto;
      column-gap: 32px;
  }

  &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 78px;
      height: 40px;
      svg {
          stroke:#ECECEC;
      }
  }

  &__toggle {
      display: block;
      @include media-ts {
          display: none;
      }
  }
}