section.section.table-section
  .container.table-section__container
    table.table-requisites.fade-in
      thead
        tr
          td(colspan="2").lead-text.table-requisites__title ОБЩАЯ ИНФОРМАЦИЯ
      tbody 
        tr.table-requisites__row
          td.fact.table-requisites__col-name Торговое наименование
          td.text.table-requisites__col-description «ИМБА ИТ»
        tr.table-requisites__row
          td.fact.table-requisites__col-name Краткое наименование
          td.text.table-requisites__col-description ООО «Инжиниринг Групп»
        tr.table-requisites__row
          td.fact.table-requisites__col-name Юридический адрес
          td.text.table-requisites__col-description 117246, г. Москва, Научный проезд, д. 14А, стр. 1, этаж 4, пом. V
        tr.table-requisites__row
          td.fact.table-requisites__col-name Фактический адрес
          td.text.table-requisites__col-description 117246, г. Москва, Научный проезд, д. 14А, стр. 1, этаж 4, пом. 4.3
        tr.table-requisites__row
          td.fact.table-requisites__col-name Генеральный директор
          td.text.table-requisites__col-description Лыкин Антон Семенович
        tr.table-requisites__row
          td.fact.table-requisites__col-name Главный бухгалтер
          td.text.table-requisites__col-description Кудрицкая Татьяна Викторовна
    table.table-requisites.fade-in
      thead
        tr
          td(colspan="2").lead-text.table-requisites__title ЕГРЮЛ
      tbody 
        tr.table-requisites__row
          td.fact.table-requisites__col-name ИНН
          td.text.table-requisites__col-description 7736131037
        tr.table-requisites__row
          td.fact.table-requisites__col-name КПП
          td.text.table-requisites__col-description 772801001
        tr.table-requisites__row
          td.fact.table-requisites__col-name ОГРН
          td.text.table-requisites__col-description 1157746278667
        tr.table-requisites__row
          td.fact.table-requisites__col-name Уставный капитал
          td.text.table-requisites__col-description 10000000 ₽
        tr.table-requisites__row
          td.fact.table-requisites__col-name Наименование регистрирующего органа
          td.text.table-requisites__col-description Межрайонная инспекция Федеральной налоговой службы № 46 по г. Москве
        tr.table-requisites__row
          td.fact.table-requisites__col-name Дата регистрации
          td.text.table-requisites__col-description 26.03.2015
        tr.table-requisites__row
          td.fact.table-requisites__col-name Наименование налогового органа
          td.text.table-requisites__col-description Инспекция Федеральной налоговой службы № 28 по г.Москве
        tr.table-requisites__row
          td.fact.table-requisites__col-name Дата постановки на учёт
          td.text.table-requisites__col-description 05.07.2018
    table.table-requisites.fade-in
      thead
        tr
          td(colspan="2").lead-text.table-requisites__title КОДЫ СТАТИСТИКИ
      tbody 
        tr.table-requisites__row
          td.fact.table-requisites__col-name ОКВЭД (основной вид деятельности)
          td.text.table-requisites__col-description 62.09 Деятельность, связанная с использованием вычислительной техники и информационных технологий, прочая
        tr.table-requisites__row
          td.fact.table-requisites__col-name ОКВЭД (дополнительные виды деятельности)
          td.text.table-requisites__col-description 33.13, 33.14, 33.20, 43.21, 43.29, 43.31, 43.32, 43.33, 43.34, 47.63.2, 47.91.2, 47.91.3, 47.91.4, 61.10.9, 62.01, 62.02, 63.11, 63.11.1, 71.11, 71.12, 71.12.1, 71.12.12, 71.12.13, 71.12.5, 71.12.6, 72.19, 77.33, 95.11
        tr.table-requisites__row
          td.fact.table-requisites__col-name ОКПО / Идентификационный номер ТОСП
          td.text.table-requisites__col-description 17196987
        tr.table-requisites__row
          td.fact.table-requisites__col-name ОКАТО
          td.text.table-requisites__col-description 45293590000
        tr.table-requisites__row
          td.fact.table-requisites__col-name ОКТМО
          td.text.table-requisites__col-description 45908000000
        tr.table-requisites__row
          td.fact.table-requisites__col-name ОКОГУ
          td.text.table-requisites__col-description 4210014
        tr.table-requisites__row
          td.fact.table-requisites__col-name ОКФС
          td.text.table-requisites__col-description 16
        tr.table-requisites__row
          td.fact.table-requisites__col-name ОКОПФ
          td.text.table-requisites__col-description 12300
    table.table-requisites.fade-in
      thead
        tr
          td(colspan="2").lead-text.table-requisites__title СЧЁТ
      tbody 
        tr.table-requisites__row
          td.fact.table-requisites__col-name Расчётный счёт
          td.text.table-requisites__col-description 40702810600000162936
        tr.table-requisites__row
          td.fact.table-requisites__col-name Корреспондентский счёт
          td.text.table-requisites__col-description 30101810200000000700
        tr.table-requisites__row
          td.fact.table-requisites__col-name Банк
          td.text.table-requisites__col-description АО «Райффайзенбанк»
        tr.table-requisites__row
          td.fact.table-requisites__col-name Адрес банка
          td.text.table-requisites__col-description 129090, Москва, ул.Троицкая, д.17, стр.&nbsp;1
        tr.table-requisites__row
          td.fact.table-requisites__col-name БИК
          td.text.table-requisites__col-description 044525700
    button.button.button_style_outlined.table-requisites__button.fade-in Скачать реквизиты

    