include ../parts/popupForm.pug

footer.section.footer
  .container.footer__container.fade-in
    .footer__box
      .footer__content
        .footer__content-cta
          a.footer__logo(href="/")
            <img src="images/logo.svg" alt="Лого">
            <img src="images/logo-for-light-mode.svg" alt="Лого">
          p.lead-text.footer__title Оставите заявку на БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ
          button.button.button_style_red.footer__button.popup-form-open оставить заявку
        .footer-menu
          p.text.footer-menu__title О&nbsp;компании
          ul.footer-menu__list
            li.footer-menu__item
              a.text-s.footer-menu__link.link-hover(href="#") Миссия
            li.footer-menu__item
              a.text-s.footer-menu__link.link-hover(href="/#about") О&nbsp;компании
            li.footer-menu__item
              a.text-s.footer-menu__link.link-hover(href="#") Преимущества
            li.footer-menu__item
              a.text-s.footer-menu__link.link-hover(href="/partners.html") Партнеры
      .footer__contacts
        a.h3.footer-menu__contact-link(href="tel:+74959693977") +7 (495) 969 39 77
        a.h3.footer-menu__contact-link(href="mailto:hello@imba-it.ru") hello@imba-it.ru
        a.footer-menu__contact-social(href="https://t.me/imbait" target='_blank') 
          img.footer-menu__contact-icon(src="images/Telegram.svg", alt="Телеграм")
          img.footer-menu__contact-icon.footer-menu__contact-icon_black(src="images/Telegram-black.svg", alt="Телеграм")
    .footer__copy
      .footer__copy-line
      .footer__copy-box
        .text-s.footer__copy-text &copy;&nbsp;2022 ИМБА ИТ Все права защищены.
        a.text-s.footer__link.footer__link_type_developer(href="https://web-valley.ru", target="_blank") Сайт разработан: WebValley Studio
    


        
