section.section.page-404
  .container.page-404__container
    .page-404__wrap
      .page-404__inner
        .page-404__img
          img(src="images/404.svg", alt="404")
          img(src="images/404-light.svg", alt="404")
          span
        h3.h3.page-404__subtitle 404
        h2.h2.page-404__title Видимо вы&nbsp;заблудились
        p.page-404__text Вы&nbsp;оказались на&nbsp;странице, которая или удалена, или перемещена, или не&nbsp;существует. Попробуйте вернуться на&nbsp;главную.
        a.button.button_style_red.page-404__btn(href="/") вернуться на&nbsp;главную