section.feedback.js_feedback_success.active
  .feedback__wrap
    //- button.feedback__exit.js_feedback_exit(type='button')
    //-   <svg width="16" height="16">
    //-     <use xlink:href="images/sprite.svg#exit"></use>
    //-   </svg>
    .feedback__success
      h3.feedback__success-subtitle Спасибо
      h2.feedback__success-title Благодарим за&nbsp;заявку
      p.feedback__success-text Наши менеджеры свяжутся с&nbsp;вами в&nbsp;рабочее время с&nbsp;10&nbsp;до&nbsp;18&nbsp;по&nbsp;Москве. Будьте на&nbsp;связи.
      a.button.button_style_red.feedback__success-btn(href="/") вернуться на&nbsp;главную