html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Информационная безопасность ИМБА ИТ.
    meta(name="description", content="")
    meta(name="keywords", content="")
    link(rel="stylesheet", href="/assets/css/ib-imba.css")
    link(rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml")
  body.light-mode
    include ../sections/header.pug
    div.wrapper
      include ../sections/ib-IMBA/cover.pug
      include ../sections/ib-IMBA/services.pug
    include ../sections/ib-IMBA/decisions.pug
    include ../sections/ib-IMBA/solutions.pug
    include ../sections/ib-IMBA/import.pug
    include ../sections/ib-IMBA/support.pug
    include ../sections/ib-IMBA/our-solutions.pug
    include ../sections/ib-IMBA/cases.pug
    include ../sections/ib-IMBA/about.pug
    include ../sections/partners/licenses
    include ../sections/index/tab-partners.pug

    include ../sections/footer.pug
    
  script(src="./assets/js/commonScripts.js")   
  script(src="./assets/js/ibImba.js")  


