html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ИМБА ИТ — Системный интегратор полного цикла.
    meta(name="description", content="IT-компания ИМБА ИТ. Реализуем и внедряем комплексные IT-решения для бизнеса.")
    meta(name="keywords", content="IT-решения, интегратор, автоматизация, сопровождение")
    link(rel="stylesheet", href="/assets/css/index.css")
    link(rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml")
  body.light-mode
    include ../sections/header.pug
    div.wrapper
      include ../sections/index/cover.pug
      include ../sections/index/services.pug
      include ../sections/index/about.pug
    include ../sections/partners/licenses
    include ../sections/index/tab-partners.pug
    include ../sections/index/solutions.pug
    include ../sections/footer.pug
    
  script(src="./assets/js/commonScripts.js")   
  script(src="./assets/js/index.js")  


