html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Партнеры
    link(rel="stylesheet", href="/assets/css/partners.css")
  body 
    include ../sections/header.pug
    include ../sections/partners/cover
    include ../sections/partners/licenses
    include ../sections/partners/big-logo
    include ../sections/partners/small-logo
    include ../sections/partners/popupLogo
    include ../sections/footer.pug
    
  script(src="./assets/js/partners.js")