.cover-main {
	height: 100vh;
	position: relative;

	@include media-tb {
		height: 70vh;
	}
  @include media-mb {
    height: 400px;
  }

	&__container {
		position: relative;
		z-index: 1;
	}
	&__title {
		span {
			color: $red;
		}
	}
}

.canvas {
	pointer-events: none;
	width: 100%;
	height: 100vh;

	position: absolute;
	z-index: 0;

	@include media-tb {
		opacity: 0.4;
	}
  @include media-mb {
    height: 400px;
  }
}
