form.form.js_form.fade-in(action="#", 
          method="post", 
          name="form-contact") 
  fieldset.form__fields
    label.form__label
      input.js_form_item.form__item.js_input_name.form__fields_input(type='text', name='Имя', placeholder='Имя*', required)
    label.form__label
      input.js_form_item.form__item.js_input_phone.form__fields_input(type='text', name='Телефон', placeholder='Телефон*', required)
    label.form__label
      input.js_form_item.form__item.js_input_email.form__fields_input(type='text', name='Почта', placeholder='Почта*', required)
    label.form__label.form__confirm.checkbox
      input.js_form_item.js_input_confirm(type='checkbox')
      <span>Согласен с&nbsp;<a href="/files/policy.pdf" target="_blank" rel="nofollow">политикой обработки персональных данных</a></span>
  button.button.button_style_red.form__btn.js_form_btn оставить заявку