form.form.js_form.fade-in(action="#", 
          method="post", 
          name="form-contact") 
  fieldset.form__fields
    label.form__label
      input.form__item.js_input_name(type='text', name='Имя', placeholder='Имя*', required)
    label.form__label
      input.form__item.js_input_phone(type='text', name='Телефон', placeholder='Телефон*', required)
    label.form__label
      input.form__item.js_input_email(type='text', name='Почта', placeholder='Почта*', required)
    label.form__label.form__confirm.checkbox
      input.js_input_confirm(type='checkbox')
      <span>Согласен с&nbsp;<a href="#" target="_blank">политикой конфиденциальности</a></span>
  button.button.button_style_red.form__btn оставить заявку