.maps-tabs__map.fade-in
  iframe.maps-tabs__map-frame(src="https://yandex.ru/map-widget/v1/?um=constructor%3A272464a24e1b865235e019c39df52b76b236b531948377e17215a826366af003&amp;source=constructor", frameborder="0")