.maps-tabs__map.fade-in
  iframe.maps-tabs__map-frame(src="https://yandex.ru/map-widget/v1/?um=constructor%3A4ac92b9bd940cb5fb35be021adea3afccac666bf72250ed4ab3c86d5621c2b30&amp;source=constructorr", width="100%", height="498", frameborder="0")