section#popupform.popup-form
  .popup-form__container
    button.popup-form__close.popup__btn-close(type='button')
      <svg width="16" height="16">
        <use xlink:href="./images/sprite.svg#exit"></use>
      </svg>
    .popup-form__content
      p.lead-text.popup-form__title Оставите заявку на БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ
      form.form.js_form.fade-in(action="#", 
                method="post", 
                name="form-popup") 
        fieldset.form__fields
          label.form__label
            input.js_form_item.form__item.js_input_name(type='text', name='Имя', placeholder='Имя*', required)
          label.form__label
            input.js_form_item.form__item.js_input_phone(type='text', name='Телефон', placeholder='Телефон*', required)
          label.form__label
            input.js_form_item.form__item.js_input_email(type='text', name='Почта', placeholder='Почта*', required)
          label.form__label.form__confirm.checkbox
            input.js_form_item.form__item.js_input_confirm(type='checkbox')
            <span>Согласен с&nbsp;<a href="#" target="_blank">политикой конфиденциальности</a></span>
        button.button.button_style_red.form__btn.js_form_btn оставить заявку