section.section.about-security.black-background
  .container.about-security__container
    .about-security__img
      img(src="../../images/sphere-ib.svg", alt="")
    h2.h2.about-security__title.fade-in Наша <span>экспертиза</span> в&nbsp;информационной безопасности
    .about-security-info
      ul.about-security-info__facts.fade-in
        li.about-security-fact
          .number.about-security-fact__number <span data-num="200000">0</span>+
          .text.about-security-fact__text Пользователей защищено нашими решениями ИБ
        li.about-security-fact
          .number.about-security-fact__number <span data-num="100">0</span>+
          .text.about-security-fact__text Проектов
        li.about-security-fact
          .number.about-security-fact__number <span data-num="12">0</span>+
          .text.about-security-fact__text Лет опыта у&nbsp;нашей&nbsp;ИБ команды
        li.about-security-fact
          .number.about-security-fact__number <span data-num="50">0</span>+
          .text.about-security-fact__text Сертификаций у&nbsp;наших инженеров