section.section.cases.black-background
  .container.cases__container
    h2.h2.cases__title.fade-in Кейсы
    ul.cases__cards 
      li.cases__card.fade-in
        .cases__card-line
        .cases__card-info
          .cases__card-basic 
            .cases__card-basic-box
              p.lead-title.cases__card-basic-title SIEM 
              .cases__card-basic-text-box 
                .cases__card-basic-marker
                p.text-s.cases__card-basic-text Телекоммуникационная компания
            p.text.cases__card-basic-description Действует более, чем в&nbsp;2/3 от&nbsp;общего количества субъектах России.
          .cases__card-text
            h3.h3.cases__card-title Внедрение и&nbsp;настройка одной из&nbsp;самых масштабных инсталляций MaxPatrol SIEM по&nbsp;России (20&nbsp;агентов, более 30&nbsp;тысяч событий в&nbsp;секунду)
            ul.fact.cases__card-items Проделанные работы
              li
                .our-solutions__card-more-marker
                p.text Написано с&nbsp;нуля более 40&nbsp;новых правил нормализации под другой транспорт для источника CheckPoint (нормализовано более&nbsp;85% событий);
              li
                .our-solutions__card-more-marker
                p.text Настроена интеграция нескольких инсталляций SIEM в&nbsp;виде иерархического взаимодействия (передача информации от&nbsp;нижестоящей системы в&nbsp;вышестоящую по&nbsp;определенным фильтрам);
              li
                .our-solutions__card-more-marker
                p.text Проведена оптимизация сканирований для минимизации ложных срабатываний и&nbsp;негативных последствий на&nbsp;инфраструктуру.
      li.cases__card.fade-in
        .cases__card-line
        .cases__card-info
          .cases__card-basic 
            .cases__card-basic-box
              p.lead-title.cases__card-basic-title PAM
              .cases__card-basic-text-box 
                .cases__card-basic-marker
                p.text-s.cases__card-basic-text Государственное предприятие
            p.text.cases__card-basic-description Разработчик решений в&nbsp;области навигации.
          .cases__card-text
            h3.h3.cases__card-title Миграция РАМ-системы с&nbsp;решения Wallix (СКДПУ) на&nbsp;SafeInspect.
            ul.fact.cases__card-items Проделанные работы
              li
                .our-solutions__card-more-marker
                p.text &laquo;Бесшовный переход&raquo; с&nbsp;одного решения на&nbsp;другое без прерывания доступа подрядчиков к&nbsp;системам;
              li
                .our-solutions__card-more-marker
                p.text Настройка функционала автоматической ротации пароля (минимизированы риски несанкционированного доступа по&nbsp;причине компрометации учетной записи с&nbsp;правами администратора).
      li.cases__card.fade-in
        .cases__card-line
        .cases__card-info
          .cases__card-basic 
            .cases__card-basic-box
              p.lead-title.cases__card-basic-title Firewall
              .cases__card-basic-text-box 
                .cases__card-basic-marker
                p.text-s.cases__card-basic-text Российский независемый холдинг, обьединяющий развивающиеся медиа активы  
            p.text.cases__card-basic-description Аудитория превышает 100&nbsp;млн. человек.
          .cases__card-text
            h3.h3.cases__card-title Демонстрация решения по&nbsp;сетевой безопасности компании
            ul.fact.cases__card-items Проделанные работы
              li
                .our-solutions__card-more-marker
                p.text Подбор решения среди российских производителей взамен изначально заинтересовавшего решения (зарубежный вендор, прекративший работу в&nbsp;России);
              li
                .our-solutions__card-more-marker
                p.text Пилотные проекты на&nbsp;основе нескольких решений российских производителей;
              li
                .our-solutions__card-more-marker
                p.text Внедрение решения, обеспечивающего применение единых политик безопасности для пользователей распределенных структур, осуществляющего контроль и&nbsp;мониторинг использования интернета внутри компании, а&nbsp;также связывающего сети и&nbsp;подсети предприятия в&nbsp;единое цело для удобного и&nbsp;безопасного использования корпоративных ресурсов.
      li.cases__card.fade-in
        .cases__card-line
        .cases__card-info
          .cases__card-basic 
            .cases__card-basic-box
              p.lead-title.cases__card-basic-title Firewall
              .cases__card-basic-text-box 
                .cases__card-basic-marker
                p.text-s.cases__card-basic-text энергетическая компания
            p.text.cases__card-basic-description Крупнейшая территориальная генерирующая компания<br><br>Более 10&nbsp;электростанций
          .cases__card-text
            h3.h3.cases__card-title Модернизация системы межсетевого экранирования
            ul.fact.cases__card-items Проделанные работы
              li
                .our-solutions__card-more-marker
                p.text Установка и&nbsp;монтаж оборудования Check Point версии 77.30, сертифицированной ФСТЭК. Разделение сегментов пользователей и&nbsp;АСУ ТП&nbsp;на&nbsp;всех ТЭЦ в&nbsp;ведении заказчика;
              li
                .our-solutions__card-more-marker
                p.text Проведение миграции политик сети и&nbsp;безопасности со&nbsp;старой системы межсетевого экранирования StoneGate на&nbsp;CheckPoint;
              li
                .our-solutions__card-more-marker
                p.text Демонтаж старого оборудования StoneGate и&nbsp;вывод из&nbsp;эксплуатации;
              li
                .our-solutions__card-more-marker
                p.text Приведение сегментации сети заказчика к&nbsp;единой схеме;
              li
                .our-solutions__card-more-marker
                p.text Перенос критичные серверов из&nbsp;сегментов пользователей, в&nbsp;сегмент АСУ&nbsp;ТП.
      li.cases__card.cases__card_unvisible.fade-in
        .cases__card-line
        .cases__card-info
          .cases__card-basic 
            .cases__card-basic-box
              p.lead-title.cases__card-basic-title WAF
              .cases__card-basic-text-box 
                .cases__card-basic-marker
                p.text-s.cases__card-basic-text Банк
            p.text.cases__card-basic-description Включен в&nbsp;топ-10 банков России.<br><br>Более 250 офисов по&nbsp;всей России.
          .cases__card-text
            h3.h3.cases__card-title Установка Web Application Firewall (WAF). Защита главного сайта компании и&nbsp;банковского приложения
            ul.fact.cases__card-items Проделанные работы
              li
                .our-solutions__card-more-marker
                p.text Установка и&nbsp;монтаж оборудования Positive Technologies Application Firewall;
              li
                .our-solutions__card-more-marker
                p.text Настройка политик безопасности для главного сайта компании и&nbsp;ритейла;
              li
                .our-solutions__card-more-marker
                p.text Создание отказоустойчивой конфигурации для защиты веб-приложений с&nbsp;резервированием на&nbsp;двух ЦОД.
      li.cases__card.cases__card_unvisible.fade-in
        .cases__card-line
        .cases__card-info
          .cases__card-basic 
            .cases__card-basic-box
              p.lead-title.cases__card-basic-title DLP 
              .cases__card-basic-text-box 
                .cases__card-basic-marker
                p.text-s.cases__card-basic-text НЕФТЕГАЗОВАЯ КОМПАНИЯ
            p.text.cases__card-basic-description Более 35000 сотрудников
          .cases__card-text
            h3.h3.cases__card-title Внедрение системы от&nbsp;утечек информации (на&nbsp;базе решения класса DLP).
            ul.fact.cases__card-items Проделанные работы
              li
                .our-solutions__card-more-marker
                p.text Инсталляция агентской части системы на&nbsp;более чем 3000&nbsp;ПК;
              li
                .our-solutions__card-more-marker
                p.text Выполнена разработка и&nbsp;настройка политик, обеспечивающих контроль (контекстный и&nbsp;контентный) передачи информации из&nbsp;компании во&nbsp;вне;
              li
                .our-solutions__card-more-marker
                p.text Выполнены работы по&nbsp;обеспечению отказоустойчивости построенной системы.
      li.cases__card.cases__card_unvisible.fade-in
        .cases__card-line
        .cases__card-info
          .cases__card-basic 
            .cases__card-basic-box
              p.lead-title.cases__card-basic-title PAM 
              .cases__card-basic-text-box 
                .cases__card-basic-marker
                p.text-s.cases__card-basic-text НЕФТЕГАЗОВАЯ КОМПАНИЯ
            p.text.cases__card-basic-description Более 35000 сотрудников
          .cases__card-text
            h3.h3.cases__card-title Внедрение системы контроля привилегированных пользователей (на&nbsp;базе решения класса PAM)
            ul.fact.cases__card-items Проделанные работы
              li
                .our-solutions__card-more-marker
                p.text Обеспечение контроль действий привилегированных пользователей заказчика (в&nbsp;том числе текстовую и&nbsp;видео запись) при работе с&nbsp;критической ИТ-инфраструктурой;
              li
                .our-solutions__card-more-marker
                p.text Подключены более 100 целевых систем. Система обеспечивает одновременное подключение и&nbsp;контроль работы более 500 привилегированных пользователей.
      li.cases__card.cases__card_unvisible.fade-in
        .cases__card-line
        .cases__card-info
          .cases__card-basic 
            .cases__card-basic-box
              p.lead-title.cases__card-basic-title Сопровождение СЗИ
              .cases__card-basic-text-box 
                .cases__card-basic-marker
                p.text-s.cases__card-basic-text БАНК
            p.text.cases__card-basic-description Более 10&nbsp;млн. клиентов
          .cases__card-text
            h3.h3.cases__card-title.cases__card-title Сопровождение одной из&nbsp;самых крупных инсталляций СЗИ от&nbsp;НСД Secret Net Studio в&nbsp;России (Более 130000&nbsp;клиентов).
            p.text.cases__card-title-text В&nbsp;процессе сопровождения возникли проблемы с&nbsp;ОЗУ и&nbsp;ЦПУ на&nbsp;серверах безопасности SNS.
            ul.fact.cases__card-items Проделанные работы
              li
                .our-solutions__card-more-marker
                p.text Модернизация конфигурационных файлов Secret Net Studio для стабильного опроса LDAP (возникавшая до&nbsp;устранения ошибка&nbsp;&mdash; непрекращающиеся итерации опроса LDAP (более 250000&nbsp;записей), мешающие завершению синхронизации);
              li
                .our-solutions__card-more-marker
                p.text Аудит и&nbsp;предоставление рекомендаций по&nbsp;разнесению серверов безопасности и&nbsp;СУБД на&nbsp;разные сервера и&nbsp;настройка СУБД в&nbsp;части потребления ОЗУ в&nbsp;тех ситуациях, где это невозможно (возникавшая до&nbsp;устранения ошибка&nbsp;&mdash; высвободившееся свободное место ОЗУ, моментально забирала СУБД MS&nbsp;SQL Server, даже если система не&nbsp;требовала место для корректного функционирования).
            .cases__card-line.cases__card-line_type-one
            h3.h3.cases__card-title.cases__card-title Устранение возникших у&nbsp;сотрудников заказчика проблем с&nbsp;СЗИ, а&nbsp;также сбоев работы агентов SNS
            ul.fact.cases__card-items Проделанные работы
              li
                .our-solutions__card-more-marker
                p.text Анализ логов сервера безопасности и&nbsp;определение проблемы в&nbsp;виде одного из&nbsp;серверов безопасности, удаленного некорректно, но&nbsp;к&nbsp;которому к&nbsp;которому обращались остальные сервера и&nbsp;возникали проблемы в&nbsp;работе системы;
              li
                .our-solutions__card-more-marker
                p.text Установка новых серверов безопасности, для того, чтоб запись со&nbsp;старым сервером безопасности была удалена из&nbsp;LDAP и&nbsp;остальные сервера не&nbsp;обращались к&nbsp;нему (около 30&nbsp;серверов).
      li.cases__card.cases__card_unvisible.fade-in
        .cases__card-line
        .cases__card-info
          .cases__card-basic 
            .cases__card-basic-box
              p.lead-title.cases__card-basic-title Сопровождение СЗИ
              .cases__card-basic-text-box 
                .cases__card-basic-marker
                p.text-s.cases__card-basic-text государственное предприятие
            p.text.cases__card-basic-description Штат более 20&nbsp;000 сотрудников
          .cases__card-text
            h3.h3.cases__card-title Восстановление работы системы заказчика и&nbsp;устранение проблем, возникших в&nbsp;ходе нарушения функционирования части разработанных локальных политик в&nbsp;рамках выполнения работ средствами KSC
            ul.fact.cases__card-items Проделанные работы
              li
                .our-solutions__card-more-marker
                p.text Развернуто несколько виртуальных машин с&nbsp;установленным сервером KSC и&nbsp;произведена выгрузка бэкапов со&nbsp;всех серверов заказчика (около 300&nbsp;серверов);
              li
                .our-solutions__card-more-marker
                p.text Экспорт политики из&nbsp;бэкапа и&nbsp;последующая загрузка на&nbsp;целевой сервер заказчика;
              li
                .our-solutions__card-more-marker
                p.text Внедрение правила осуществления резервного копирования серверов KSC минимум 1&nbsp;раз в&nbsp;неделю и&nbsp;ограничение работы на&nbsp;головном сервере для исключения повторения ситуации.
    .cases__card-line.our-solutions__line
    button.button.button_style_outlined.cases__more-btn(type="button") Показать все