section.section.cover-security.black-background
  img.cover-security__img(src="./../images/sphere-main.svg", alt="")
  .container.cover-security__container
    .cover-security__head
      h1.h1.cover-security__title.fade-in <span>Защитим</span> вашу&nbsp;ИТ-инфраструктуру
      .red-line.cover-security__lines.cover-security__line.fade-in
      button.button.button_style_red.cover-security__btn.fade-in(type="button") Оставить заявку
    ul.cover-security__cards
      li.cover-security__card.fade-in
        .cover-security__card-line
        .fact.cover-security__card-text Обеспечим выполнение требований законодательства
      li.cover-security__card.fade-in
        .cover-security__card-line
        .fact.cover-security__card-text Защитим от&nbsp;утечек информации со&nbsp;стороны внутренних и&nbsp;внешних нарушителей
      li.cover-security__card.fade-in
        .cover-security__card-line
        .fact.cover-security__card-text Установим отечественное&nbsp;ПО взамен зарубежному
      li.cover-security__card.fade-in
        .cover-security__card-line
        .fact.cover-security__card-text Проведем комплексный аудит&nbsp;ИБ
      li.cover-security__card.fade-in
        .cover-security__card-line
        .fact.cover-security__card-text Обеспечим безопасность сетевого периметра
      li.cover-security__card.fade-in
        .cover-security__card-line
        .fact.cover-security__card-text Защитим от&nbsp;всех видов сетевых атак
