section.section.decisions
  .container.decisions__container
    h2.h2.decisions__title.fade-in В&nbsp;нашей лаборатории вы&nbsp;можете <span>протестировать</span> любое <span>решение</span> перед внедрением
    .decisions__info 
      .red-line.decisions__info-lines.fade-in
      p.text.decisions__info-description.fade-in В&nbsp;лаборатории ИМБА ИТ&nbsp;вы&nbsp;можете оценить функционал и&nbsp;интерфейс продуктов перед их&nbsp;внедрением в&nbsp;IТ-инфраструктуру предприятия.<br><br>Лаборатория работает в&nbsp;режиме онлайн-кабинетов, а&nbsp;также в&nbsp;офлайн-формате в&nbsp;московском офисе ИМБА ИТ. Вы&nbsp;можете &laquo;пощупать&raquo; решение своими руками: самостоятельно установить, настроить и&nbsp;протестировать определенную систему на&nbsp;нашей IT-инфраструктуре.
    ul.decisions__cards 
      li.decisions__card.fade-in
        .decisions__card-info
          img.decisions__card-img.decisions__card-img_white(src="../../images/ib-decisions/decisions1.svg", alt="")
          img.decisions__card-img.decisions__card-img_black(src="../../images/ib-decisions-black/decisions1.svg", alt="") 
          p.h4.decisions__card-title Оцените MaxPatrol SIEM в&nbsp;реальных рабочих условиях
          p.text.decisions__card-description На&nbsp;бесплатной Live-демонстрации протестируем лидирующее отечественное решение Positive Technologies MaxPatrol SIEM.
        .decisions__card-btns
          a.button.button_style_link.decisions__card-btn.decisions__card-btn_black(href="#")  Что входит в услугу
          button.button.button_style_arrow.decisions__card-btn.decisions__card-btn_red.popup-form-open(type="button")  Оставить заявку
      li.decisions__card.fade-in
        .decisions__card-info
          img.decisions__card-img.decisions__card-img_white(src="../../images/ib-decisions/decisions2.svg", alt="") 
          img.decisions__card-img.decisions__card-img_black(src="../../images/ib-decisions-black/decisions2.svg", alt="") 
          p.h4.decisions__card-title Бесплатный аудит устойчивости сотрудников к&nbsp;фишинговым атакам (Security Awareness)
          p.text.decisions__card-description Выработайте устойчивость сотрудников к&nbsp;кибератакам и&nbsp;социальной инженерии, предотвращайте проникновение злоумышленников в&nbsp;вашу инфраструктуру
        .decisions__card-btns
          a.button.button_style_link.decisions__card-btn.decisions__card-btn_black(href="#")  Что входит в услугу
          button.button.button_style_arrow.decisions__card-btn.decisions__card-btn_red.popup-form-open(type="button")  Оставить заявку
      li.decisions__card.fade-in 
        .decisions__card-info
          img.decisions__card-img.decisions__card-img_white(src="../../images/ib-decisions/decisions3.svg", alt="")
          img.decisions__card-img.decisions__card-img_black(src="../../images/ib-decisions-black/decisions3.svg", alt="")  
          p.h4.decisions__card-title Оцените UserGate Next Generation Firewall в&nbsp;реальных рабочих условиях
          p.text.decisions__card-description На&nbsp;бесплатной Live-демонстрации протестируем лидирующее отечественное решение UserGate Next Generation Firewall.
        .decisions__card-btns
          a.button.button_style_link.decisions__card-btn.decisions__card-btn_black(href="#")  Что входит в услугу
          button.button.button_style_arrow.decisions__card-btn.decisions__card-btn_red.popup-form-open(type="button")  Оставить заявку
      li.decisions__card.fade-in 
        .decisions__card-info
          img.decisions__card-img.decisions__card-img_white(src="../../images/ib-decisions/decisions4.svg", alt="") 
          img.decisions__card-img.decisions__card-img_black(src="../../images/ib-decisions-black/decisions4.svg", alt="") 
          p.h4.decisions__card-title Оцените Kaspersky Web Traffic Security в&nbsp;реальных рабочих условиях
          p.text.decisions__card-description На&nbsp;бесплатной Live-демонстрации протестируем лидирующее отечественное решение Positive Technologies MaxPatrol SIEM.
        .decisions__card-btns
          a.button.button_style_link.decisions__card-btn.decisions__card-btn_black(href="#")  Что входит в услугу
          button.button.button_style_arrow.decisions__card-btn.decisions__card-btn_red.popup-form-open(type="button")  Оставить заявку