section.section.import-security
  .container.import-security__container
    h2.h2.import-security__title.fade-in Импортозамещение <span>ИБ</span>‑решений
    .import-security__info 
      img.import-security__info-img.import-security__info-img_color.fade-in(src="../../images/import.svg", alt="")
      img.import-security__info-img.import-security__info-img_black.fade-in(src="../../images/import-black.svg", alt="")
      ul.import-security__info-cards 
        li.import-security__card.fade-in
          .red-line.import-security__card-line
          p.lead-text.import-security__card-title Анализ доступных ИБ-решений
          p.text.import-security__card-description Подробная информация о&nbsp;заменах решений недоступных иностранных вендоров и&nbsp;описание услуг по&nbsp;импортозамещению
          a.import-security__btn(href='../files/importozameshchenie-ib.pdf' target='_blank')
            img.import-security__btn-img.import-security__btn-img_white(src="../../images/pdf-file.svg", alt="")
            img.import-security__btn-img.import-security__btn-img_black(src="../../images/pdf-file-black.svg", alt="")
            p.button.button_style_link.import-security__btn-text Импортозамещение ИБ-решений
        li.import-security__card.fade-in
          .red-line.import-security__card-line
          p.lead-text.import-security__card-title Анализ 250 указа
          p.text.import-security__card-description Кто точно попадает под указ, как исполнить его требования, чтобы избежать штрафов и&nbsp;как мы&nbsp;можем вам в&nbsp;этом помочь. Предоставим подробный план для исполнения Указа &#8470;&nbsp;250
          a.import-security__btn(href='../files/ukaz-250.pdf' target='_blank')
            img.import-security__btn-img.import-security__btn-img_white(src="../../images/pdf-file.svg", alt="")
            img.import-security__btn-img.import-security__btn-img_black(src="../../images/pdf-file-black.svg", alt="")
            p.button.button_style_link.import-security__btn-text Анализ 250 указа