section.section.our-solutions.black-background
  .container.our-solutions__container
    h2.h2.our-solutions__title.fade-in Наши решения
    .our-solutions__info 
      .red-line.our-solutions__info-lines.fade-in
      p.text.our-solutions__info-description.fade-in Предоставляем весь спектр услуг по&nbsp;обеспечению безопасности IT-инфраструктуры. Мы&nbsp;подберем оптимальное решение, решающее поставленные задачи, а&nbsp;также поможем перейти на&nbsp;отечественное оборудование и&nbsp;ПО. Поставим оборудование, проведем пуско-наладочные работы, окажем квалифицированную техническую поддержку и&nbsp;сервисное обслуживание.
      button.button.button_style_red.our-solutions__info-btn.fade-in(type="button") Протестировать
    ul.our-solutions__cards
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Межсетевые экраны (Firewall)
          .our-solutions__card-text
            p.text.our-solutions__card-description Система межсетевого экранирования разграничивает доступ между сетевыми зонами безопасности. Система идентифицирует пользователей, определяет их&nbsp;уровень доступа и&nbsp;блокирует запрещенные приложения. Дополнительно устанавливается защита от&nbsp;угроз и&nbsp;вредоносного ПО, URL фильтрация, контроль загрузки и&nbsp;выгрузки файлов.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul.text Система межсетевого экранирования позволяет:
                li
                  .our-solutions__card-more-marker
                  p.text сегментировать сеть;
                li
                  .our-solutions__card-more-marker
                  p.text фильтровать сетевой трафик по&nbsp;правилам межсетевого экранирования;
                li
                  .our-solutions__card-more-marker
                  p.text анализировать трафик на&nbsp;предмет обнаружения вредоносных файлов, сетевых атак и&nbsp;зараженных устройств в&nbsp;сети, связанных с&nbsp;ботнет-сетями.
              p.lead-text Производители
              p.text.our-solutions__card-more-text CheckPoint&nbsp;&mdash; NGFW<br>ИнфоТеКС&nbsp;&mdash; ViPNet x&nbsp;Firewall&nbsp;5<br>Код Безопасности&nbsp;&mdash; Континент&nbsp;4<br>Юзергейт&nbsp;&mdash; UserGate<br>С-Терра&nbsp;&mdash; Шлюз&nbsp;4.2
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Системы сбора и&nbsp;корреляция событий (SIEM)
          .our-solutions__card-text
            p.text.our-solutions__card-description SIEM позволяет автоматизировать и&nbsp;централизовать процессы сбора, хранения, преобразования и&nbsp;выдачи экспертам&nbsp;ИБ как информации об&nbsp;объектах IT-инфраструктуры, так и&nbsp;событий информационной безопасности в&nbsp;части IT-инфраструктуры, автоматизировать процессы выявления инцидентов информационной безопасности и&nbsp;процессы управления ими.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul.text SEIM позволяет:
                li
                  .our-solutions__card-more-marker
                  p.text собирать, обрабатывать, хранить, индексировать и&nbsp;коррелировать события безопасности;
                li
                  .our-solutions__card-more-marker
                  p.text уведомлять об&nbsp;инцидентах на&nbsp;основе политик;
                li
                  .our-solutions__card-more-marker
                  p.text генерировать отчеты и&nbsp;аналитические данные для сотрудников и&nbsp;пользователей;
                li
                  .our-solutions__card-more-marker
                  p.text предоставлять API для интеграции внешних источников данных об&nbsp;угрозах&nbsp;&mdash; доменах с&nbsp;вредоносными программами, IP-адресах, URL-адресах, хэшах, узлах Tor;
                li
                  .our-solutions__card-more-marker
                  p.text находить события в&nbsp;режиме реального времени;
                li
                  .our-solutions__card-more-marker
                  p.text находить исторические события, например запросы по&nbsp;типу SQL с&nbsp;булевыми условиями фильтрации;
                li
                  .our-solutions__card-more-marker
                  p.text создавать триггеры для шаблонов сложных событий в&nbsp;режиме реального времени.
              p.lead-text Производители
              p.text.our-solutions__card-more-text Positive Technologies&nbsp;&mdash; MaxPatrol SIEM<br>Лаборатория Касперского&nbsp;&mdash; KUMA<br>РУСИЕМ&nbsp;&mdash; RuSIEM<br>НПО Эшелон&nbsp;&mdash; KOMRAD Enterprise SIEM<br>СёрчИнформ&nbsp;&mdash; SIEM
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Системы защиты от&nbsp;утечек информации (Data Leak Prevention)
          .our-solutions__card-text
            p.text.our-solutions__card-description Предотвращает утечку информации ограниченного доступа из&nbsp;периметра компании во&nbsp;вне. На&nbsp;основе собранных системой данных офицер безопасности может проводить расследования и&nbsp;выявлять факт шпионажа, сговора, саботажа, а&nbsp;также идентифицировать нелояльных сотрудников.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul
                li
                  .our-solutions__card-more-marker
                  p.text Контроль передачи информации по&nbsp;всем каналам передачи: веб-трафик, почтовый трафик, мессенджеры, отправка на&nbsp;печать, отправка на&nbsp;схемные носители, облачные приложения и&nbsp;т.д.;
                li
                  .our-solutions__card-more-marker
                  p.text Контекстный и&nbsp;контентный анализ передаваемой информации;
                li
                  .our-solutions__card-more-marker
                  p.text Идентификация инцидентов информационной безопасности (утечек);
                li
                  .our-solutions__card-more-marker
                  p.text Реагирование на&nbsp;инциденты информационной безопасности: блокировка передачи информации, отправка уведомлений, отправка инцидентов в&nbsp;IRP-систему и&nbsp;т.д.;
                li
                  .our-solutions__card-more-marker
                  p.text Обеспечение возможности ретроспективного поиска событий;
                li
                  .our-solutions__card-more-marker
                  p.text Обеспечение возможности расследования инцидентов информационной безопасности.
              p.lead-text Производители
              p.text.our-solutions__card-more-text InfoWatch&nbsp;&mdash; Traffic Monitor<br>РТК-Солар&nbsp;&mdash; Solar Dozor<br>SearchInform&nbsp;&mdash; КИБ<br>Zecurion&nbsp;&mdash; Device Control<br>DeviceLock- DLP Suite<br>Гарда Технологии&nbsp;&mdash; Предприятие
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Системы анализа защищенности (Vulnerability assessment)
          .our-solutions__card-text
            p.text.our-solutions__card-description Система сканирует узлы сети ИТ-инфраструктуры и&nbsp;находит известные уязвимости в&nbsp;системном и&nbsp;прикладном ПО. Система анализа защищенности своевременно обнаруживает уязвимости и&nbsp;устраняет&nbsp;их. Дополнительно система контролирует сетевые устройства и&nbsp;устройства, подключенные к&nbsp;рабочим станциям пользователей (напр. 4G-модем).
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul.text Система анализа защищенности позволяет:
                li
                  .our-solutions__card-more-marker
                  p.text проводить инструментальный анализ состояния&nbsp;ИБ;
                li
                  .our-solutions__card-more-marker
                  p.text выявить уязвимости, слабые пароли и&nbsp;ошибки конфигурации с&nbsp;последующей выдачей рекомендаций по&nbsp;их&nbsp;устранению.
              p.lead-text Производители
              p.text.our-solutions__card-more-text Positive Technologies&nbsp;&mdash; MaxPatrol, XSpider<br>Эшелон&nbsp;&mdash; Сканер-ВС<br>АЛТЭКС-СОФТ&nbsp;&mdash; RedCheck
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Сетевые песочницы (Sandbox)
          .our-solutions__card-text
            p.text.our-solutions__card-description Сетевая песочница анализирует потенциально опасные файлы перед их&nbsp;отправкой в&nbsp;информационную систему. Система фильтрует контентный веб-трафик и&nbsp;электронные письма, которые содержат вредоносное&nbsp;ПО или вредоносные вложения. Дополнительно система интегрируется с&nbsp;информационными системами внутри сетевого периметра, чтобы обнаружить и&nbsp;заблокировать сложные атаки на&nbsp;критичные ресурсы компании.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul.text Система защиты от&nbsp;направленных атак позволяет:
                li
                  .our-solutions__card-more-marker
                  p.text анализировать потенциально опасные файлы в&nbsp;изолированной среде;
                li
                  .our-solutions__card-more-marker
                  p.text предотвращать целевые атаки, атаки &laquo;нулевого дня&raquo;, направленных на&nbsp;информационные системы ЛВС;
                li
                  .our-solutions__card-more-marker
                  p.text блокировать файлы с&nbsp;вредоносным кодом;
                li
                  .our-solutions__card-more-marker
                  p.text защититься от&nbsp;угроз, содержащихся в&nbsp;файлах;
                li
                  .our-solutions__card-more-marker
                  p.text автоматизировать обновление базы решающих правил;
                li
                  .our-solutions__card-more-marker
                  p.text интегрироваться с&nbsp;межсетевыми экранами для получения вредоносных файлов на&nbsp;проверку по&nbsp;следующим протоколам: HTTP, SMTP, POP3, IMAP, FTP.
              p.lead-text Производители
              p.text.our-solutions__card-more-text Лаборатория Касперского&nbsp;&mdash; Anti Targeted Attack Platform<br>Positive Technologies&nbsp;&mdash; Sandbox<br>АВ&nbsp;Софт&nbsp;&mdash; Athena
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Системы защиты каналов связи (VPN)
          .our-solutions__card-text
            p.text.our-solutions__card-description Технология VPN обеспечивает защиту канала связи между организациями при помощи типа VPN Site-to-Site и&nbsp;обеспечивает защищенный удаленный доступ при помощи типа VPN Remote Access.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul.text Системы защиты каналов связи позволяют:
                li
                  .our-solutions__card-more-marker
                  p.text организовать защищенные VPN-туннели Site-to-Site;
                li
                  .our-solutions__card-more-marker
                  p.text организовать двустороннюю криптографическую аутентификацию криптошлюзов средств криптографической защиты информации (СКЗИ) при установлении соединения с&nbsp;применением сертификатов ключей проверки электронной подписи, соответствующих ГОСТ Р&nbsp;34.10-2001;
                li
                  .our-solutions__card-more-marker
                  p.text контролировать целостность пакетов с&nbsp;использованием хэш-функции на&nbsp;основе алгоритма, соответствующего ГОСТ Р&nbsp;34.11-94;
                li
                  .our-solutions__card-more-marker
                  p.text использовать стандарты архитектуры IPSec для защиты информации на&nbsp;сетевом уровне;
                li
                  .our-solutions__card-more-marker
                  p.text обеспечить&nbsp;КЗ данных, передаваемых по&nbsp;VPN‑туннелям;
                li
                  .our-solutions__card-more-marker
                  p.text обеспечить приоритезацию сетевого трафика (QoS);
                li
                  .our-solutions__card-more-marker
                  p.text фильтровать пакеты в&nbsp;соответствии с&nbsp;настроенной политикой межсетевого экранирования на&nbsp;криптошлюзах.
              p.lead-text Производители
              p.text.our-solutions__card-more-text Код Безопасности&nbsp;&mdash; Континент<br>ИнфоТеКС&nbsp;&mdash; ViPNet Coordinator HW<br>С-Терра&nbsp;&mdash; Шлюз&nbsp;4.2<br>Специальная интеграция&nbsp;&mdash; Квазар
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Межсетевые экраны для веб-приложений (Web Application FireWall)
          .our-solutions__card-text
            p.text.our-solutions__card-description Обеспечивает выявление и&nbsp;реагирование на&nbsp;инциденты информационной безопасности, связанные с&nbsp;эксплуатацией уязвимостей веб-приложений.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul
                li
                  .our-solutions__card-more-marker
                  p.text Проверка HTTP-запросов на&nbsp;низком уровне и&nbsp;на&nbsp;соответствие RFC
                li
                  .our-solutions__card-more-marker
                  p.text Анализ параметров прозодящих через систему запросов
                li
                  .our-solutions__card-more-marker
                  p.text Защита от&nbsp;уязвимостей класса CSRF
                li
                  .our-solutions__card-more-marker
                  p.text Защита от&nbsp;DDoS-атак
                li
                  .our-solutions__card-more-marker
                  p.text Защита от&nbsp;уязвимостей класса SQL-инъекций
                li
                  .our-solutions__card-more-marker
                  p.text Защита от&nbsp;атак класса XSS
                li
                  .our-solutions__card-more-marker
                  p.text Защита от&nbsp;атак класса Open Redirect
                li
                  .our-solutions__card-more-marker
                  p.text Анализ XML-документов и&nbsp;SOAP-хапросов
                li
                  .our-solutions__card-more-marker
                  p.text Проверка и&nbsp;изменение HTTP-ответов с&nbsp;целью предотвращения утечки данных
                li
                  .our-solutions__card-more-marker
                  p.text Отслеживание сессий
              p.lead-text Производители
              p.text.our-solutions__card-more-text Positive Technologies&nbsp;&mdash; PTAF<br>Код Безопасности&nbsp;&mdash; WAF
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Системы антивирусной защиты (Antivirus)
          .our-solutions__card-text
            p.text.our-solutions__card-description Антивирусная защита помогает оперативно реагировать на&nbsp;вирусные заражения, удалять или изолировать вредоносное ПО. Антивирус анализирует оперативную память, локальные носители информации, каталоги, файлы и&nbsp;электронные сообщения на&nbsp;АРМ, серверах, виртуальных машинах в&nbsp;реальном времени.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul.text Система антивирусной защиты позволяет:
                li
                  .our-solutions__card-more-marker
                  p.text выявлять заражения при выполнении проверок оперативной памяти, локальных носителей информации, томов, каталогов и&nbsp;файлов;
                li
                  .our-solutions__card-more-marker
                  p.text выявлять вирусные заражения, вызванные известными вирусами;
                li
                  .our-solutions__card-more-marker
                  p.text блокировать доступ к&nbsp;носителям информации в&nbsp;случае заражения и&nbsp;активизации вируса.
              p.lead-text Производители
              p.text.our-solutions__card-more-text Kaspersky&nbsp;&mdash; Endpoint Security<br>DR. Web&nbsp;&mdash; Desktop/Server Security Suite
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Системы защиты баз данных (Database Firewall, Database Activity Monitoring)
          .our-solutions__card-text
            p.text.our-solutions__card-description Защита баз данных снижает риски кражи интеллектуальной собственности, потери клиентов, а&nbsp;также нанесения ущерба репутации компании. Специалисты помогают снизить простои в&nbsp;бизнес-процессах и&nbsp;избежать финансовых издержек.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul.text Защита баз данных позволяет:
                li
                  .our-solutions__card-more-marker
                  p.text контролировать все подключения к СУБД;
                li
                  .our-solutions__card-more-marker
                  p.text определять черные и&nbsp;белые списки команд;
                li
                  .our-solutions__card-more-marker
                  p.text проводить аудит запросов и&nbsp;возвращаемых данных;
                li
                  .our-solutions__card-more-marker
                  p.text находить и&nbsp;классифицировать данные в&nbsp;СУБД;
                li
                  .our-solutions__card-more-marker
                  p.text устанавливать схемы подключения: установка в&nbsp;разрыв или на&nbsp;SPAN-порт (мониторинг).
              p.lead-text Производители
              p.text.our-solutions__card-more-text Гарда Технологии&nbsp;&mdash; Гарда&nbsp;БД
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Системы контроля привилегированных пользователей (Privileged Identity Management,)
          .our-solutions__card-text
            p.text.our-solutions__card-description Система обеспечивает возможность управления доступом привилегированных пользователей к&nbsp;ресурсам компании. Система контролирует действия, выполняемые привилегированными пользователями: создает видеозапись сессии пользователя, запись клавиатурного ввода, фиксирует запускаемые приложения, контролирует ввод команд и&nbsp;обеспечивает реагирование на&nbsp;выполняемые пользователем действия.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul
                li
                  .our-solutions__card-more-marker
                  p.text Реализовать единый центр предоставления доступа привилегированных пользователей к&nbsp;серверам компании;
                li
                  .our-solutions__card-more-marker
                  p.text Исключить прямое взаимодействие пользователей с&nbsp;серверами;
                li
                  .our-solutions__card-more-marker
                  p.text Разграничить доступ привилегированных пользователей к&nbsp;защищаемым ресурсам;
                li
                  .our-solutions__card-more-marker
                  p.text Обеспечить контроль действий привилегированных пользователей при работе на&nbsp;серверах.
              p.lead-text Производители
              p.text.our-solutions__card-more-text АйТи Бастион&nbsp;&mdash; СКДПУ<br>Новые технологии безопасности&nbsp;&mdash; SafeInspect<br>Indeed ID&nbsp;&mdash; Privileged Access Manager<br>Web Control&nbsp;&mdash; sPACE
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Системы защиты корпоративной почты (Mail Security)
          .our-solutions__card-text
            p.text.our-solutions__card-description Система защиты корпоративной почты анализирует почтовый трафик на&nbsp;наличие нежелательных писем. Например спам, вредоносное&nbsp;ПО, файлы приложений и&nbsp;загрузки, файлы заставки (SCR), Android Package и&nbsp;файлы ярлыков Windows.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul.text Система защиты корпоративной почты позволяет:
                li
                  .our-solutions__card-more-marker
                  p.text обеспечить должное шифрование и&nbsp;подпись сообщений (S/MIME);
                li
                  .our-solutions__card-more-marker
                  p.text обеспечить антивирусную защиту;
                li
                  .our-solutions__card-more-marker
                  p.text установить систему анти-спам;
                li
                  .our-solutions__card-more-marker
                  p.text защититься от&nbsp;фишинга;
                li
                  .our-solutions__card-more-marker
                  p.text фильтровать содержание писем;
                li
                  .our-solutions__card-more-marker
                  p.text интегрироваться с&nbsp;DLP;
                li
                  .our-solutions__card-more-marker
                  p.text расследовать инциденты&nbsp;ИБ.                  
              p.lead-text Производители
              p.text.our-solutions__card-more-text Лаборатория Касперского&nbsp;&mdash; Secure Mail Gateway<br>Group-IB&nbsp;&mdash; Atmosphere
            button.button.button_style_link.our-solutions__card-btn Показать больше
      li.our-solutions__card.fade-in
        .our-solutions__card-line
        .our-solutions__card-info
          p.h5.our-solutions__card-title Системы защиты от&nbsp;атак отказ в&nbsp;обслуживании (AntiDDOS)
          .our-solutions__card-text
            p.text.our-solutions__card-description Система защиты корпоративной почты анализирует почтовый трафик на&nbsp;наличие нежелательных писем. Например спам, вредоносное&nbsp;ПО, файлы приложений и&nbsp;загрузки, файлы заставки (SCR), Android Package и&nbsp;файлы ярлыков Windows.
            .our-solutions__card-more-info
              p.lead-text Основные функции
              ul.text Защита от&nbsp;атак отказ в&nbsp;обслуживании позволяет:
                li
                  .our-solutions__card-more-marker
                  p.text выявлять и&nbsp;блокировать DDoS до&nbsp;уровня приложений (HTTP, DNS, медленные запросы, др.);
                li
                  .our-solutions__card-more-marker
                  p.text проводить репутационную оценку адресов;
                li
                  .our-solutions__card-more-marker
                  p.text оповещать об&nbsp;атаке в&nbsp;режиме реального времени;
                li
                  .our-solutions__card-more-marker
                  p.text установить систему защиты в&nbsp;ЛВС.                 
              p.lead-text Производители
              p.text.our-solutions__card-more-text Лаборатория Касперского&nbsp;&mdash; DDoS Prevention<br>Qrator Labs&nbsp;&mdash; Qrator<br>Гарда Технологии&nbsp;&mdash; Периметр<br>Бифит&nbsp;&mdash; Mitigator<br>Сервиспайп&nbsp;&mdash; DDoS &amp;&nbsp;Bot Protection
            button.button.button_style_link.our-solutions__card-btn Показать больше
    .our-solutions__card-line.our-solutions__line
    button.button.button_style_outlined.our-solutions__more-btn(type="button") Посмотреть все



