section.section.services-security.black-background
  .container.services-security__container
    h2.h2.services-security__title.fade-in Управляйте нагрузкой на&nbsp;сеть, <span>сократите сбои</span> и&nbsp;простои в&nbsp;работе
    .services-security__info 
      .services-security__info-text
        .red-line.services-security__info-lines.fade-in
        p.text.services-security__info-description.fade-in Построим надежную сетевую инфраструктуру, которая обеспечит бесперебойную работу вашего бизнеса. Обеспечим защищенный доступ в&nbsp;интернет и&nbsp;безопасность удалённой работы сотрудников.
        p.lead-text.services-security__info-lead.fade-in В&nbsp;нашей работе мы&nbsp;учитываем ваши требования, знаем нормы соответствия и&nbsp;особенности обеспечения&nbsp;ИБ в&nbsp;разных отраслях:
      ul.services-security__cards
        li.services-security__card.fade-in 
          img.services-security__card-img(src="../../images/ib-services/service1.svg", alt="")
          p.h5.services-security__card-title Банковский и финансовый сектор
        li.services-security__card.fade-in 
          img.services-security__card-img(src="../../images/ib-services/service2.svg", alt="")
          p.h5.services-security__card-title Нефтегазовая промышленность
        li.services-security__card.fade-in 
          img.services-security__card-img(src="../../images/ib-services/service3.svg", alt="")
          p.h5.services-security__card-title Госсектор
        li.services-security__card.fade-in 
          img.services-security__card-img(src="../../images/ib-services/service4.svg", alt="")
          p.h5.services-security__card-title IT и Телеком
        li.services-security__card.fade-in 
          img.services-security__card-img(src="../../images/ib-services/service5.svg", alt="")
          p.h5.services-security__card-title Энергетика
        li.services-security__card.fade-in 
          img.services-security__card-img(src="../../images/ib-services/service6.svg", alt="")
          p.h5.services-security__card-title Металлургия
        li.services-security__card.fade-in 
          img.services-security__card-img(src="../../images/ib-services/service7.svg", alt="")
          p.h5.services-security__card-title Производство
        li.services-security__card.fade-in 
          img.services-security__card-img(src="../../images/ib-services/service8.svg", alt="")
          p.h5.services-security__card-title Retail
