section.section.solutions.black-background
  .container.solutions__container
    .solutions__line.fade-in
    .solutions__content.fade-in
      h3.h3.solutions__title Ознакомиться со&nbsp;всем <span>списком решений</span>, представленных в&nbsp;нашей лаборатории 
      a.button.button_style_outlined.solutions__btn(href='../files/laboratoriya-imba-it.pdf' download='Лаборатория ИМБА ИТ') Скачать PDF-файл
