section.section.support-security
  .container.support-security__container
    h2.h2.support-security__title.fade-in Сервисная поддержка
    .support-security__info 
      img.support-security__info-img.support-security__info-img_color.fade-in(src="../../images/support.svg", alt="")
      img.support-security__info-img.support-security__info-img_black.fade-in(src="../../images/support-black.svg", alt="")
      .support-security__info-content
        .red-line.support-security__info-line
        p.text.support-security__info-description Обеспечим сервисную техническую поддержку зарубежных средств защиты информации, ушедших с&nbsp;российского рынка.
        ul.support-security__info-cards 
          li.support-security__card.fade-in
            .support-security__card-line
            h3.h3.support-security__card-title Локализованное сервисное обслуживание Palo Alto Networks
            p.text.support-security__card-text Поддержка включает в&nbsp;себя консультации, установку и&nbsp;базовую настройку, предоставление обновлений&nbsp;ПО, восстановление работоспособности функционала. Бесплатный недельный пилот до&nbsp;заключения контракта.
            a.button.button_style_arrow.support-security__card-btn(href="#")  Сервис Palo Alto
          li.support-security__card.fade-in
            .support-security__card-line
            h3.h3.support-security__card-title Локализованное сервисное обслуживание Fortinet NGFW
            p.text.support-security__card-text Полное восстановление функциональности решения, консультации, подписки, продление лицензий, заявки в&nbsp;FortiCare. Бесплатный недельный пилот до&nbsp;заключения контракта.
            a.button.button_style_arrow.support-security__card-btn(href="#")  Сервис Fortinet
          .support-security__card-line
        p.text.support-security__info-text Вам необходима поддержка по&nbsp;другому производителю? Напишите нам, и&nbsp;наши эксперты подготовят сервисное предложение
        button.button.button_style_outlined.support-security__info-btn.popup-form-open(type='button') Другие решения