@import "../parts/form.scss";

.popup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.5);
  transition: visibility, opacity 0.3s ease;
  visibility: hidden;
  opacity: 0;
  @include media-ts {
    padding:0 16px;
  }
  &_visible {
    visibility: visible;
    opacity: 1;
  }

  &__container {
    background-color: #1b1b1b;
    padding: 80px;
    position: relative;
    min-width: 320px;
    max-width: 568px;
    width: 100%;
    @include media-mb {   
      padding: 64px 40px;

    }
    @include media-ms {
      padding: 64px 12px;
    }
    .light-mode & {
      background-color: $white-fb;
    }
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;

    @include media-mb {
      top: 8px;
      right: 8px;
    }
  }
  &__title {
    color:$title-white;
  }
}