.cover-security {
  position: relative;
  @include media-ts {
    height: initial;
  }
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    @include media-ts {
      row-gap: 234px;
    }
    @include media-mb {
      row-gap: 64px;
    }

  }

  &__title {
    max-width: 846px;
    span {
      color: $red;
    }
  }
  &__btn {
    padding: 24px 40px;
    margin-top: 48px;
  }
  &__line {
    margin-top: 32px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 32px;
    max-width: 958px;
    @include media-ts {
      gap: 32px;
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
    }
    @include media-ms {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    @include media-ts {
      row-gap: 16px;
    }

    &-line {
      background-color: $red;
      width: 100%;
      height: 2px;
    }
  }
  &__img {
    position: absolute;
    right: 76px;
    top: 62px;
    width: 848px;
    @include media-tb {
      top: 0;
      right: 0;
      margin: 0 auto;
    }
    @include media-mb {
      width: 100%;
    }
    @include media-ms {
      width: 269px;
      right: 50px;
    }
  }
}