.import-security {
  &__title {
    margin-bottom: 100px;
    @include media-ts {
      margin-bottom: 64px;
    }
    @include media-mb {
      margin-bottom: 40px;
    }
    span {
      color: $red;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    column-gap: 142px;
    @include media-ts {
      flex-direction: column;
    }

    &-img {
      @include media-ts {
        width: 184px;
        margin-bottom: 64px;
        display: none;
      }
    }

    &-cards {
      display: flex;
      flex-direction: column;
      row-gap: 60px;
      max-width: 715px;
      @include media-tb {
        row-gap: 64px;
      }
      @include media-mb {
        row-gap: 40px;
      }
    }
  }

  &__card {

    &-line {
      margin-top: 0;
      margin-bottom: 40px;
      @include media-tb {
        margin-bottom: 24px;
      }
    }
    &-description {
      margin-top: 24px;
      margin-bottom: 32px;
      @include media-tb {
        margin-top: 16px;
        margin-bottom: 24px;
      }
      @include media-mb {
        margin-top: 8px;
      }
    }
  }
  &__btn {
    display: flex;
    column-gap: 12px;
    align-items: center;
    &-text {
      padding: 0;
      color: $title-white;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.55;
      letter-spacing: 0;
      @include media-mb {
        font-size: 12px;
      }
      .light-mode & {
        color: $title-black;
      }
    }
    &-text:hover {
      color: $red;
    }
    &-img {
      &_white {
        display: none;
        .light-mode & {
          display: block;
        }
      }
      &_black {
        display:block;
        .light-mode & {
          display: none;
        } 
      }
    }
  }
}