.our-solutions {
  &__title {
    margin-bottom: 60px;
    @include media-tb {
      margin-bottom: 64px;
    }
    @include media-mb {
      margin-bottom: 40px;
    }
  }

  &__info {
    max-width: 848px;
    &-lines {
      margin-top: 0;
    }
    &-description {
      margin: 40px 0;
      @include media-tb {
        margin: 32px 0;
      }
    }
    &-btn {
      padding:24px 40px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 80px;
    @include media-tb {
      row-gap: 32px;
      margin-top: 64px;
    }
    @include media-mb {
      margin-top: 40px;
    }
  }

  &__card {
    &_unvisible {
      display:none;
    }
    &-line {
      width: 100%;
      height: 1px;
      background-color: $line-white;
      .light-mode & {
        background-color: $line-red;
      }
    }
    &-info {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 408px 1fr;
      column-gap: 32px;
      @include media-ts {
        grid-template-columns:1fr;
        row-gap: 24px;
      }
    }
    &-description {
      margin-bottom: 32px;
      @include media-tb {
        margin-bottom: 24px;
      }
    }
    &-more-info {
      display: none;
      .lead-text {
        color: $title-white;
        margin-bottom: 12px;
        .light-mode & {
          color: $title-black;
        }
      }
      ul {
        margin-bottom: 24px;
      }
      li {
        display: flex;
        column-gap: 16px;
        margin-top: 4px;
      }
    }
    &-more-marker {
      height: 8px;
      width: 8px;
      background-color: $red;
      border-radius: 50%;
      margin-top: 10px;
      flex-shrink: 0;
    }

    &-more-text {
      margin-bottom: 40px;
    }


    &-btn {
      padding: 0;
      color: $title-white;
      letter-spacing: 0;
      .light-mode & {
        color: $title-black;
      }
    }
  }

  &__more-btn {     
    padding: 24px 40px;
    margin: 60px auto 0;
    @include media-ms {
      padding: 24px 28px;
    }
    &:hover {
    padding: 22px 38px;
    @include media-ms {
      padding: 22px 26px;
    }
  }
  }
  &__line {
    margin-top: 40px;
    @include media-tb {
      margin-top: 32px;
    }
  }
}